!!!
%html
  %head
    %title Test
    %script(src="/assets/react-with-addons.js")
    %script(src="/assets/main.js")
    %script(src="https://code.jquery.com/jquery-1.7.2.min.js")
    %script= $opalinit
  %body
